/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
}
